<!DOCTYPE html>
<html>
<head>
  <title>Phonebook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
<%= render "/shared/error_message" %>
<%= yield %>
<script>


</script>
</body>
</html>
